// Change the theme colors to use standard bootstrap components with your own

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
$nav-bg: #06648c;

$theme-colors: (
  "primary": #FF304F,
  "secondary": #CACACA,
  "success": #015668,
  "info": #0F81C7,
  "warning": #0DE2EA,
  "danger": #06648C,
  "light": #ececec,
  "dark": #222222
);

$nav: #06648C;
$black: black;

#brand {
    color: white;
}
.navbar {
        margin-bottom: 0;
        background: $nav;
}
body {
        background: $white;
        color: $black;
        font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
        font-weight: bold;
}
p {
        font-size: 16px;
        color: $black;
}
a:visited {
        color: $black;
}
.jumbotron {
        background: #0048CD;
        color: $white;
        text-align: center;
        p {
                color: $white;
                font-size: 26px;
        }
}
.link {
        color: $white;
}
.btn-primary {
        color: $white;
        border-color: $white;
        margin-bottom: 5px;
}
.btn-sm {
        background-color: $white;
        display: inline-block;
}
img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}
caption {

        float: left;
        clear: both;

}