// Change the theme colors to use standard bootstrap components with your own

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
$nav-bg: #06648c;

$theme-colors: (
  "primary": #FF304F,
  "secondary": #CACACA,
  "success": #015668,
  "info": #0F81C7,
  "warning": #0DE2EA,
  "danger": #06648C,
  "light": #ececec,
  "dark": #222222
);

$nav: #154188;
$black: black;
$purple: purple;
body {
    background: $white;
    color: $black;
    font-family: 'Merriweather', sans-serif;
}

// Customizing the hamburger menu
.custom-toggler.navbar-toggler {
    border-color: #ffffff;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
// Customizing bootstrap's nav link color
.nav-link {
    color: #ececec
    !important
}

//customizing the brand color (311Now)
#brand {
    color: white;
}
.navbar {
        margin-bottom: 20;
        background: $nav;
        
}

.py-1 {
    padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
}
.login {
    background-color: #B6CBE7;
}

#login-heading {
    margin-bottom: 25px;
}
header {
    margin-bottom: 55px;
}

a:visited {
        color: $purple;
}
.link {
        color: $white;
}

.comment_card {
    margin-top: 10px;
    margin-top: 10px;
}
.comment_card p {
    margin: 10px;
}

.create_post {
    background-color: #A9B9D3;
    border-width: 2.5px;
    border-style: solid;
    border-color: #154188;

}

#home-posts {
    margin-bottom: 75px;
}
// img,
// video,
// audio {
//         margin-top: 20px;
//         max-width: 80%;
// }
// caption {

//         float: left;
//         clear: both;

// }